* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: "fooont", Arial, sans-serif;
  text-align: left;
  color: #000;
  background: #fff;
  height: 100%;
  position: relative;
}
