* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 12px;
  font-family: "fooont", Arial, sans-serif;
  text-align: left;
  color: #000;
  background: #fff;
  background-size: cover;
  position: relative;
}
.main_wrapper {
  padding: 0px 0 0;
}

header#header {
  width: 100%;
  height: 110px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  animation-duration: 0.3s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
header#header > div {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  height: 110px;
  margin: 0 auto;
  padding: 0 20px;
  animation-duration: 0.3s;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.logo a {
  display: inline-block;
  width: 154px;
  height: 53px;
  background-image: url(./img/logo_colored.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  animation-duration: 0.15s;
  transition: all 0.15s linear;
}
a {
  color: #0e80e5;
}

.vacancy_header.compact {
  padding: 120px 0 40px;
  min-height: 1px;
}
.vacancy_header {
  background: #fff;
  position: relative;
}
.vacancy_header > div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.vacancy_header .info_side {
  width: calc(45% - 40px);
}
.vacancy_header h1 {
  padding: 0 0 32px;
  font-size: 32px;
  line-height: 1.29;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: #222;
}
.vacancy_header .text p {
  padding: 0 0 20px;
}
.vacancy_header p {
  padding: 0 0 60px;
  font-size: 18px;
  line-height: 1.56;
  color: #5f6773;
}
a {
  color: #0e80e5;
}
.vacancy_header p {
  line-height: 1.56;
}
.vacancy_header.compact .image {
  width: 100%;
  height: 100%;
}

.vacancies_grid {
  padding: 100px 0;
  background: #f6f8fe;
}
.vacancies_grid > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px 30px;
  grid-auto-rows: 1fr;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}
.vacancies_grid article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 40px 20px;
  background: #fff;
  border: 1px solid #ff931e;
  border-radius: 4px;
  position: relative;
  animation-duration: 0.15s;
  transition: all 0.15s linear;
}
.vacancies_grid h3 {
  padding: 0 0 0px !important;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #222;
  text-align: center;
  animation-duration: 0.15s;
  transition: all 0.15s linear;
}
.vacancies_grid p {
  display: none;
  font-size: 18px;
  line-height: 1.56;
  color: #5f6773;
  animation-duration: 0.15s;
  transition: all 0.15s linear;
}
a.full_link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
a {
  color: #0e80e5;
}
.vacancies_grid article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  padding: 40px 20px;
  background: #fff;
  border: 1px solid #ff931e;
  border-radius: 4px;
  position: relative;
  animation-duration: 0.15s;
  transition: all 0.15s linear;
}
.vacancies_grid h3 {
  padding: 0 0 0px !important;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  color: #222;
  text-align: center;
  animation-duration: 0.15s;
  transition: all 0.15s linear;
}
.vacancies_grid p {
  display: none;
  font-size: 18px;
  line-height: 1.56;
  color: #5f6773;
  animation-duration: 0.15s;
  transition: all 0.15s linear;
}
a.full_link {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}
a {
  color: #0e80e5;
}

footer#footer.compact {
  min-height: 1px;
  padding: 34px 0 34px;
  background-image: none;
}
footer#footer {
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 0 50%;
}
footer#footer.compact .footer_last {
  padding: 0 20px;
}
.footer_last {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}
.jis {
  display: flex;

  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}
.jis p {
  padding: 0 10px 0 0;
  font-size: 12px;
  line-height: 2.67;
  color: #fff;
}
.jis a {
  display: inline-block;
  padding: 0 0 0 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.67;
  color: #fff;
  text-decoration: none;
  position: relative;
}
.jis a::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: url(./img/jis_logo.svg) no-repeat 0 0;
  position: absolute;
  left: 0;
  top: calc(50% - 10px);
}
.copyright {
  width: calc(100% - 360px);
  font-size: 16px;
  line-height: 1.5;
  color: #999;
}
